/* Custom enhancements to jQuery Mobile 
 *
 * We use the pt- prefix to avoid collisions with other CSS styles.
 */

/* Home screen */
.pt-home-left {float: left;}
.pt-home-right {float: right;}
.pt-home-row {clear: both;}



.pt-discuss-comment-header {display: none;}