/* Custom enhancements to jQuery Mobile 
 *
 * We use the pt- prefix to avoid collisions with other CSS styles.
 */

/* Home screen */
.pt-home-left {float: left;}
.pt-home-right {float: right;}
.pt-home-row {clear: both;}

/* Updates screen */
.pt-report-grade {position: absolute; left: 1px; width: 80px; height: 80px; font-size: 2em; text-align: center; top: 20px;}

/* Accordion widget - moved to nick.css */
