/* Custom enhancements to jQuery Mobile 
 *
 * We use the pt- prefix to avoid collisions with other CSS styles.
 */


/* Accordion widget */
	.ui-li-accordion { 
	color: #333333;
	font-weight: bold;
	font-size: 16pt;
	font-family: 'Droid Sans', arial, serif;
	height: 160px;}
