/* Custom enhancements to jQuery Mobile 
 *
 * We use the pt- prefix to avoid collisions with other CSS styles.
 */

/* Updates screen */
.pt-grade {position: absolute; left: 1px; width: 80px; height: 80px; font-size: 2em; text-align: center; top: 20px;}

/* Accordion widget */
.pt-accordion {display: none; height: 60px; margin-top: 20px;}
.pt-accordion-body {position: absolute; left: 0; right: 0;}
.pt-accordion-body * {position: relative;}
.pt-accordion-body img {float: left;}

.pt-accordion-open {background: darkgray;}
.pt-accordion-open .pt-accordion {display: block;}
.pt-accordion-open .pt-accordion-body {background: lightgray;}
.pt-accordion-open .ui-icon {display: none;}