/* Custom enhancements to jQuery Mobile 
 *
 * We use the pt- prefix to avoid collisions with other CSS styles.
 */

.pt-grade {position: absolute; left: 1px; width: 80px; height: 80px; font-size: 2em; text-align: center; top: 20px;}